.gallery {
  width: 100%;
  overflow: hidden;
  user-select: none;
  padding: 0;
}

.gallery-draggable {
  cursor: grabbing;
}

.gallery-line {
  overflow: hidden;
}

.gallery-slide {
  min-height: 1px;
  float: left;
  transform: translateZ(0);
}